.title-3qD0b-
{
    .toolbar-1t6TWx
    {
        position: fixed;
        background: var(--background-secondary);
        right: 0px;
        top: 22px;
        height: 80px !important;
        border-radius:0px 0px 15px 15px;
        width: 240px;
        .search-36MZv-
        {
            border-radius: 11px !important; 
            width: 200px !important;
            top: 50px;
            margin-right: 15px;
            .search-2oPWTC
            {
                background: var(--background-tertiary);
                border-radius: inherit !important;
                .searchBar-3dMhjb
                {
                    border-radius: inherit !important;
                    width: inherit;
                }
                .DraftEditor-root
                {
                    border-radius: 15px !important;
                }
            }
        }
        .icon-22AiRD
        {
            height: 2rem;
            width: 2rem;
            margin: 0px !important;
            margin-left: 22.9px !important;
        }
        .icon-22AiRD[name="Nova_Download"]
        {
            position: fixed;
            top: 28px;
            right: 215px;
            height: 1.2rem;
            width: 1.2rem;
            z-index: 999;
        }
        .iconWrapper-2OrFZ1
        {
            margin-top: -37px;
        }
    }
}
.searchResultsWrap-2DKFzt
{
    border-radius: 15px 0px 0px 15px;
    box-shadow: -1px 0 rgba(4,4,5,0.2),-1.5px 0 0 rgba(6,6,7,0.05),-2px 0 0 rgba(4,4,5,0.05);;
    .searchHeader-1l-wpR
    {
        padding-top: 0px !important;
        .tab-2Ixsn0
        {
            margin-top: 40px;
        }
        .totalResults-gxvzgw
        {
            font-size: 1.8rem;
            line-height: 1.9rem;
        }
        .circular-2NaZOq
        {
            display: none;
        }
    }
}
.membersWrap-2h-GB4
{
    padding-top: 17px;
}
