.toolbar-1t6TWx {
    background: var(--background-secondary);
    height: 70px !important;
    z-index: 500 !important;
    display: flex;
    width: 240px !important;
    position: fixed;
    right: 0%;
    top: 22px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 0px 3px #000;
}
.container-1r6BKw {
    display: fixed;
}
.members-1998pB {
    box-shadow: 0px 0px 3px #000;
    padding-top: 10px;
}
.search-2oPWTC {
    background: var(--background-tertiary);
    position: fixed;
    border-radius: 50px;
    right: 10px;
    top: 60px;
    width: 220px;
}
.toolbar-1t6TWx .search-36MZv- .searchBar-3dMhjb {
    width: 220px;
}
.iconWrapper-2OrFZ1{
    margin: 0px !important;
    height: 3rem;
    width: 3rem;
    margin-left: 12px !important;
    margin-bottom: 9px !important;
}
