.powercord-spotify, .powercord-spotify * {
    transition: 0.4s ease-in-out;
}
.powercord-spotify {
    height: 65px;
    width: 220px;
    background: var(--background-floating);
    margin-left: 4%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.powercord-spotify .spotify-seek-bar {
    height: 11px;
    border-radius: 10px !important;
}
.powercord-spotify .spotify-seek {
    border-radius: 10px !important;
    overflow: hidden;
}
.powercord-spotify .container-3baos1 {
    background: none;
}
.powercord-spotify:hover {
    height: 238px;
}
.powercord-spotify:hover .spotify-seek-bar {
    height: 10px !important;
}
.powercord-spotify:hover .container-3baos1 {
    background: none;
    height: 200px;
}
.spotify-seek-bar-cursor {
    background: #fff !important;
    border: none !important;
    height: 10px !important;
    border-radius: 5px !important;
    width: 5px !important;
}
.powercord-spotify:hover .avatarWrapper-2yR4wp img {
    border-radius: 0px !important;
    height: 200px !important;
    width: 220px !important;
    background-size: contain !important;
}
.powercord-spotify:hover .avatarWrapper-2yR4wp {
    border-radius: 10px;
    height: 200px;
    width: 240px !important;
    overflow: hidden;
    margin-right: 0px !important;
}
.powercord-spotify:hover .container-3baos1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.powercord-spotify:hover .nameTag-3uD-yy, .powercord-spotify:hover .horizontal-1ae9ci {
    position:  absolute !important;
}
.powercord-spotify:hover .nameTag-3uD-yy {
    bottom: 100px;
    width: 220px;
}
.powercord-spotify:hover .nameTag-3uD-yy {
    background: linear-gradient(#18191c00 20%, #18191ca0 50%,#18191c 70%) !important;
    height: 130px !important;
}
.powercord-spotify:hover .spotify-title {
    bottom: 60px;
    position: absolute;
    width: 220px;
}
.powercord-spotify:hover .spotify-title .title-eS5yk3 {
    text-align: center;
}
.powercord-spotify:hover .spotify-artist {
    position: absolute;
    bottom: 45px;
    width: 220px;
    text-align: center;
}
.powercord-spotify:hover .horizontal-1ae9ci {
    bottom: 111px;
    left: 72px;
}
.panels-j1Uci_ {
    background: none;
}
.container-3baos1 {
    background: var(--background-secondary-alt);
}
