.emojiPicker-3m1S-j
{
    .infoBarWrapper-283ttO
    {
        display: none;
    }
    .scroller-3vODG7.containerWithInfoBar-2acjZU
    {
        height: 316px !important;
    }
    .scrollerWrap-PyxcLY
    {
        height: 316px !important;
    }
}
