.title-3qD0b-
{
    .toolbar-1t6TWx
    {
        .icon-22AiRD[name="Nova_Download"]
        {
            position: fixed;
            top: 0px;
            right: 0px;
            height: 1.2rem;
            width: 1.2rem;
            height: 100%;
            width: 100%;
            z-index: 999;
            background: #202225;
        }
    }
}
