.members-1998pB
{
    .layout-2DM8Md
    {
        .badges
        {
            display: none !important;
        }
        :hover
        {
        .badges
        {
                display: flex !important
            }
        }
    }
}
.containerCozyBounded-1rKFAn
{
    .badges
    {
        display: none !important;
    }
    :hover
    {
        .badges
        {
            display: inline-flex !important;
        }
    }
}
